html {
  background-color: #263620;
}

#soccersim {
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
}

#soccersim .navbar-brand {
  flex: 1;
  justify-content: center;
  background-color: #263620;
}

#soccersim #matterjs {
  display: flex;
  justify-content: center;
}

#soccersim #level {
  margin: 0 1em 1em;
  background: rgb(32,131,136);
  background: linear-gradient(90deg, rgba(32,131,136,1) 0%, rgba(83,136,86,0.29735644257703087) 8%, rgba(96,137,73,0) 20%, rgba(139,142,31,0) 50%, rgba(139,142,31,0) 80%, rgba(139,142,31,0.30015756302521013) 92%, rgba(139,142,31,1) 100%)
}

#soccersim #blue-team, #soccersim #yellow-team {
  margin: 0 1em;
  font-size: 1.1em;
}

#soccersim .scores {
  font-size: 5em;
}

#soccersim #sim-run-buttons {
  margin: 0.8em 0 0;
  display: flex;
  justify-content: center;
}

#soccersim #timer {
  font-size: 3em;
}

#soccersim .modal-button-small {
  border-radius: 4px;
}

#soccersim .file-name {
  background-color: #ffffff;
  color: #363636;
}