/* Layout */
body {
    height: 100%;
    width: 100%;
    position: relative;
}
#soccersim .navbar-menu,
#soccersim .navbar-brand,
#soccersim .navbar-start {
    background: #263620;
}
#soccersim .columns {
    padding: 0;
    margin: 0;
}
#soccersim .columns .column {
    padding: 0;
    margin: 0;
}

#soccersim #robot-select span,
#soccersim #robot-select ul {
    vertical-align: bottom;
}

/* Blockly layout */
#soccersim #blocklyEditor1,
#helperEditor {
    height: calc(100vh - 112px);
    width: 100%;
    display: block;
}

#soccersim .CodeMirror {
    height: calc(100vh - 112px);
    width: 100%;
    display: block;
}

#soccersim #importExport {
    height: calc(20vh - 10px);
    border: 0;
    width: 100%;
    font-family: monospace;
}

/* Left upper tabs */
#soccersim .buttons,
#soccersim .buttons .button {
    margin-bottom: 0;
}

#soccersim #editor-buttons {
    display: flex;
    padding: 8px;
    justify-content: space-between;
}

#soccersim #save-buttons .button,
#soccersim #load-file {
    margin-right: .5rem;
}

#soccersim #sim-run-buttons {
    padding: 8px;
    justify-content: center;
}

#soccersim #sim-run-buttons .button {
    margin-bottom: .5rem;
}

/* Right simulator */
.matterjs-column {
    text-align: center;
    background: #111;
    padding-top: 20px;
    margin: -10px -10px -10px 0;
}

/* Layout breakpoint */
@media screen and (max-width: 1460px) {
    #soccersim #editor-buttons {
        overflow-x: scroll;
        flex-wrap: nowrap;
        gap: 8px;
    }
    #soccersim #editor-buttons .buttons {
        flex-wrap: nowrap;
    }
    .matterjs-column,
    .column.is-three-fifths {
        width: 50%;
    }
}

@media screen and (max-width: 960px) {
    #soccersim .columns {
        display: block;
    }

    .matterjs-column,
    .column.is-three-fifths {
        display: block;
        width: 100%;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
}


.ioLabel>.blocklyFlyoutLabelText {
    font-style: italic;
}

.blocklyFlyoutLabelText {
    fill: white !important;
}

.blocklyFlyoutHeading>.blocklyFlyoutLabelText {
    font-size: 1.5rem;
}

line.blocklyFlyoutLine {
    stroke: white;
}

.blocklyFlyoutLabelIcon {
    font-family: 'Font Awesome\ 5 Free';
    font-size: 1.5rem;
    font-weight: 900;
    fill: white;
}

#notification-modal {
    z-index: 1000;
}